/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 22 maj 2019, 21:11:01
    Author     : looky
*/
@media screen and (min-device-width: 641px) {
  * {
    box-sizing: border-box;
    outline: none; }

  html, body {
    width: 100vw;
    height: 100vh;
    overflow: hidden; }

  html {
    font-size: 75%;
    font-family: "Times New Roman", Times, serif; }

  body {
    font-size: 1.8rem;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    max-width: inherit;
    color: #4a4a4a;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column; }

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 700;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto; }

  p {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto; }

  a {
    text-decoration: none;
    color: brown; }
    a:hover {
      color: red; }

  main {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto; }

  article {
    text-indent: 0.7cm;
    text-align: justify; }

  .cnt {
    width: 100%;
    height: 100vh; }
    .cnt:nth-of-type(1) {
      background-color: purple; }
    .cnt:nth-of-type(2) {
      background-color: #ff8500;
      color: white; }
    .cnt:nth-of-type(3) {
      background-color: #212163;
      color: white; }
    .cnt:nth-of-type(4) {
      background-color: #2c2c2c;
      color: white; }

  .center {
    margin: 0 auto;
    transform: translateY(9rem); }

  .slider_cnt {
    width: 111vw;
    overflow: auto;
    padding-right: calc(11vw - 17px); }

  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    z-index: 999; }
    header main {
      text-align: center;
      display: flex;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      font-family: "Andale Mono", monospace; }
    header .mob {
      display: none; }
    header div {
      color: white;
      padding: 1rem; }
      header div h1 {
        font-size: 2.0rem; }
        header div h1::before {
          content: "<";
          color: brown;
          font-weight: normal;
          text-shadow: 1px 1px 1px black; }
        header div h1::after {
          content: ">";
          color: brown;
          font-weight: normal;
          text-shadow: 1px 1px 1px black; }
        header div h1 span {
          color: rgba(255, 255, 255, 0.7); }
      header div p {
        font-size: 1.0rem;
        transform: translate(2.3rem, -1.1rem);
        color: antiquewhite;
        font-weight: 600; }
    header nav {
      margin-right: 2rem;
      padding: 1rem;
      font-weight: 600; }
      header nav.icon-menu::before {
        display: none; }
      header nav a {
        background-color: white;
        color: black;
        font-size: 1.5rem;
        padding: 0.5rem 1.5rem;
        border-radius: 1rem; }
        header nav a:hover {
          color: black;
          cursor: pointer;
          background-color: rgba(255, 255, 255, 0.2);
          color: white; }
        header nav a.active {
          background-color: rgba(255, 255, 255, 0.2);
          color: white;
          padding: 0.5rem 1.5rem; }

  footer {
    background-color: rgba(33, 33, 33, 0.3);
    color: white;
    font-weight: 500;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 1.3rem;
    padding: 0.5rem;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 999;
    width: 100%;
    text-align: center; }

  .welcome {
    width: 100%;
    height: 100vh;
    padding-top: 11rem;
    position: relative;
    color: white; }
    .welcome span::after {
      padding: 1rem;
      position: absolute;
      font-weight: bold;
      font-size: 2rem;
      color: darkorchid;
      text-shadow: 3px 3px 3px black; }
    .welcome span:nth-of-type(1)::after {
      content: "</>";
      text-shadow: 3px 3px 3px black;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: orangered;
      font-size: 7rem;
      border: 3px solid white;
      box-shadow: 3px 3px 3px black;
      padding: 2.0rem;
      border-radius: 4rem; }
    .welcome span:nth-of-type(2)::after {
      content: "SQL";
      left: 77%;
      top: 45%;
      transform: rotate(15deg);
      border-top: 4px solid white;
      padding-left: 2rem; }
    .welcome span:nth-of-type(3)::after {
      content: "Java{}";
      left: 14%;
      top: 44%;
      transform: rotate(5.5rad); }
    .welcome span:nth-of-type(4)::after {
      content: "C++";
      left: 13%;
      top: 21%;
      transform: rotate(33deg); }
    .welcome span:nth-of-type(5)::after {
      content: "CSS3";
      border: 5px solid antiquewhite;
      left: 19%;
      top: 69%;
      transform: rotate(0.7rad);
      border-radius: 5px; }
    .welcome span:nth-of-type(6)::after {
      content: "HTML5";
      left: 67%;
      top: 59%;
      transform: rotate(-35deg);
      border-bottom: 5px solid white;
      border-radius: 0.5rem; }
    .welcome span:nth-of-type(7)::after {
      content: "<? PHP ?>";
      left: 69%;
      top: 25%;
      transform: rotate(-11deg); }
    .welcome span:nth-of-type(8)::after {
      content: "Java.Script();";
      left: 44%;
      top: 77%;
      transform: rotate(-43deg); }
    .welcome span:nth-of-type(8)::after {
      color: white;
      content: '"Everything Should Be Made as \a         Simple as Possible, But Not Simpler" - A. Einstein';
      left: 17%;
      top: 19%;
      transform: rotate(-27deg);
      max-width: 37rem; }
    .welcome span:nth-of-type(9)::after {
      content: 'Prostota jest kluczem do sukcesu';
      left: 44%;
      top: 77%;
      transform: rotate(23deg); }
    .welcome button {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -5rem);
      border: 2px solid white;
      background-color: inherit;
      color: white;
      padding: 1rem;
      font-weight: bold;
      font-size: 2rem;
      border-radius: 1rem;
      text-shadow: 3px 3px 3px #461b4b; }
      .welcome button:hover {
        cursor: pointer; }
      .welcome button::before {
        content: "> ";
        color: orangered;
        text-shadow: 3px 3px 3px black; }
      .welcome button::after {
        content: " <";
        color: orangered;
        text-shadow: 3px 3px 3px black; }
      .welcome button:hover::before {
        content: " >";
        text-shadow: 5px 5px 5px black; }
      .welcome button:hover::after {
        content: "< ";
        text-shadow: 5px 5px 5px black; }

  .skills {
    margin-left: 1rem;
    text-align: left; }
    .skills tr td:nth-of-type(1) {
      min-width: 17rem;
      padding-left: 1rem; }
      .skills tr td:nth-of-type(1)::before {
        content: "- "; }
    .skills tr td:nth-of-type(2) {
      text-align: center; }

  .flexit {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }

  .slider {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 3;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column; }
    .slider a {
      border: 1px solid inherit;
      width: 1rem;
      height: 1rem;
      border-radius: 1rem;
      margin: 2rem;
      background-color: rgba(255, 255, 255, 0.3); }
      .slider a:hover {
        cursor: pointer;
        background-color: white; }
      .slider a.active2 {
        background-color: white; }

  .scrollbottom {
    animation-name: scrollbottom;
    animation-duration: 1s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    opacity: 1; }

  .scrolltop {
    animation-name: scrolltop;
    animation-duration: 1s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    opacity: 1; }

  @keyframes scrollbottom {
    from {
      opacity: 0;
      background-color: white;
      top: 100%; }
    to {
      opacity: 1;
      top: 0; } }
  @keyframes scrolltop {
    from {
      opacity: 0;
      background-color: white;
      top: -100%; }
    to {
      opacity: 1;
      top: 0; } }
  .awaytop {
    animation-name: scroll_away_top;
    animation-duration: 1s;
    position: absolute;
    top: -100%;
    left: 0;
    z-index: 3;
    opacity: 1; }

  .awaybottom {
    animation-name: scroll_away_bottom;
    animation-duration: 1s;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 3;
    opacity: 1; }

  @keyframes scroll_away_top {
    from {
      opacity: 1;
      top: 0; }
    to {
      opacity: 0;
      top: -100%; } }
  @keyframes scroll_away_bottom {
    from {
      opacity: 1;
      top: 0; }
    to {
      opacity: 0;
      top: 100%; } }
  .scrollbottom,
  .scrolltop,
  .awaybottom,
  .awaytop {
    display: block; }

  section {
    display: none; }

  #cookies {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(22, 22, 22, 0.9);
    width: 100%;
    padding: 2rem;
    z-index: 1999; }
    #cookies button {
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 0.5rem 3rem;
      float: right;
      font-size: 1.5rem;
      margin: 1rem; }
      #cookies button::after {
        content: "";
        clear: both; }
      #cookies button:hover {
        filter: brightness(120%); }
    #cookies div {
      font-size: 1.5rem;
      color: white;
      float: left;
      text-align: center; }
      #cookies div::after {
        content: "";
        clear: both; }
    #cookies a {
      color: brown; }
      #cookies a:hover {
        color: red; }

  .open {
    cursor: pointer; }

  .output {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    animation-name: open;
    animation-duration: 1s;
    color: white; }
    .output:nth-of-type(1) {
      background-color: #00379b; }
    .output:nth-of-type(2) {
      background-color: #ff3737; }

  @keyframes open {
    from {
      width: 0;
      height: 0; }
    to {
      width: 100%;
      height: 100%; } }
  form {
    width: 90%;
    margin: 0 auto;
    padding: 1rem; }
    form input {
      margin: 0.3rem; }
      form input[type=submit] {
        color: white;
        background-color: #4CAF50;
        border: none;
        padding: 0.7rem 1.5rem; }
      form input[type=email] {
        min-width: 21rem; }
      form input[type=text] {
        min-width: 21rem; }
    form textarea {
      width: 100%;
      margin: 0.3rem;
      height: 21rem; }

  .img_cnt {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    align-items: center; }
    .img_cnt figure {
      width: 25%; }
      .img_cnt figure img {
        width: 100%;
        height: auto; }
      .img_cnt figure figcaption {
        position: relative; }
        .img_cnt figure figcaption:nth-of-type(2) {
          font-size: 1.3rem;
          color: lightblue; }
          .img_cnt figure figcaption:nth-of-type(2)::before {
            content: "Read more.."; }
          .img_cnt figure figcaption:nth-of-type(2) i {
            display: none;
            position: absolute;
            top: 0%;
            background-color: white;
            color: black;
            font-style: normal;
            padding: 1rem;
            font-weight: 600;
            transform: translate(-3.5rem, -100%);
            width: calc(100% + 7rem); }
        .img_cnt figure figcaption:nth-of-type(2):hover i {
          display: block; }
      .img_cnt figure:hover {
        cursor: pointer; }
        .img_cnt figure:hover img {
          opacity: 0.7; }
      .img_cnt figure a.dwn {
        text-align: right;
        float: right; }
        .img_cnt figure a.dwn::after {
          clear: both; } }
@media screen and (max-device-width: 640.99px) {
  * {
    box-sizing: border-box;
    outline: none; }

  html, body {
    width: 100vw;
    height: auto;
    scroll-behavior: smooth; }

  html {
    font-size: 13px;
    font-family: "Times New Roman", Times, serif; }

  body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
    max-width: inherit;
    color: #4a4a4a;
    min-height: 100vh; }

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 700;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto; }

  p {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto; }

  a {
    text-decoration: none;
    color: brown; }
    a:hover {
      color: red; }

  main {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 1rem; }

  article {
    text-indent: 0.7cm;
    text-align: justify; }

  .cnt {
    padding: 1rem;
    width: 100%;
    min-height: 100%; }
    .cnt:nth-of-type(1) {
      background-color: purple; }
    .cnt:nth-of-type(2) {
      background-color: #ff8500;
      color: white; }
    .cnt:nth-of-type(3) {
      background-color: #212163;
      color: white; }
    .cnt:nth-of-type(4) {
      background-color: #2c2c2c;
      color: white; }

  .center {
    margin: 0 auto; }

  .slider_cnt {
    width: 100vw;
    overflow-x: hidden; }

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    z-index: 999; }
    header main {
      text-align: center;
      font-family: "Andale Mono", monospace; }
    header div {
      display: none; }
    header .mob {
      font-size: 1.5rem;
      color: white;
      float: left; }
      header .mob::before {
        content: "<";
        color: brown;
        font-weight: normal;
        text-shadow: 1px 1px 1px black; }
      header .mob::after {
        content: "/>";
        color: brown;
        font-weight: normal;
        text-shadow: 1px 1px 1px black;
        clear: both; }
    header nav {
      float: right;
      text-align: right; }
      header nav::before {
        clear: both; }
      header nav.icon-menu {
        color: white;
        font-size: 2rem; }
        header nav.icon-menu a {
          display: none;
          background-color: white;
          color: black;
          font-size: 1.5rem;
          padding: 0.5rem 1.5rem;
          margin: 0.3rem;
          border-radius: 1rem; }
          header nav.icon-menu a:hover {
            color: black;
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.2);
            color: white; }
          header nav.icon-menu a.active {
            background-color: rgba(255, 255, 255, 0.2);
            color: white;
            padding: 0.5rem 1.5rem; }
        header nav.icon-menu:hover {
          width: 50%;
          background-color: rgba(255, 255, 255, 0.2);
          color: transparent; }
          header nav.icon-menu:hover a {
            display: block; }

  footer {
    background-color: #212121;
    color: white;
    font-weight: 500;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 1.0rem;
    padding: 0.5rem;
    width: 100%;
    text-align: center; }

  .welcome {
    width: 100%;
    height: 100vh;
    padding-top: 11rem;
    position: relative;
    color: white; }
    .welcome span::after {
      padding: 1rem;
      position: absolute;
      font-weight: bold;
      font-size: 2rem;
      color: darkorchid;
      text-shadow: 3px 3px 3px black; }
    .welcome span:nth-of-type(1)::after {
      content: "</>";
      text-shadow: 3px 3px 3px black;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: orangered;
      font-size: 7rem;
      border: 3px solid white;
      box-shadow: 3px 3px 3px black;
      padding: 2.0rem;
      border-radius: 4rem; }
    .welcome span:nth-of-type(2)::after {
      content: "SQL";
      left: 77%;
      top: 45%;
      transform: rotate(15deg);
      border-top: 4px solid white;
      padding-left: 2rem; }
    .welcome span:nth-of-type(3)::after {
      content: "Java{}";
      left: 4%;
      top: 44%;
      transform: rotate(5.5rad); }
    .welcome span:nth-of-type(4)::after {
      content: "C++";
      left: 13%;
      top: 7%;
      transform: rotate(33deg); }
    .welcome span:nth-of-type(5)::after {
      content: "CSS3";
      border: 5px solid antiquewhite;
      left: 19%;
      top: 69%;
      transform: rotate(0.7rad);
      border-radius: 5px; }
    .welcome span:nth-of-type(6)::after {
      content: "HTML5";
      left: 67%;
      top: 59%;
      transform: rotate(-35deg);
      border-bottom: 5px solid white;
      border-radius: 0.5rem; }
    .welcome span:nth-of-type(7)::after {
      content: "<? PHP ?>";
      left: 49%;
      top: 15%;
      transform: rotate(-11deg); }
    .welcome span:nth-of-type(8)::after {
      content: "Java.Script();";
      left: 44%;
      top: 77%;
      transform: rotate(-43deg); }
    .welcome span:nth-of-type(8)::after {
      color: white;
      content: '"Everything Should Be Made as \a         Simple as Possible, But Not Simpler" - A. Einstein';
      left: 11%;
      top: 15%;
      transform: rotate(-27deg);
      max-width: 37rem; }
    .welcome span:nth-of-type(9)::after {
      content: 'Prostota jest kluczem do sukcesu';
      left: 44%;
      top: 77%;
      transform: rotate(23deg); }
    .welcome button {
      display: none; }

  .skills {
    margin-left: 1rem;
    text-align: left; }
    .skills tr td:nth-of-type(1) {
      min-width: 17rem;
      padding-left: 1rem; }
      .skills tr td:nth-of-type(1)::before {
        content: "- "; }
    .skills tr td:nth-of-type(2) {
      text-align: center; }

  .flexit {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }

  .slider {
    display: none; }

  #cookies {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(22, 22, 22, 0.9);
    width: 100%;
    padding: 2rem;
    z-index: 1999; }
    #cookies button {
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 0.5rem 3rem;
      float: right;
      font-size: 1.5rem;
      margin: 1rem; }
      #cookies button::after {
        content: "";
        clear: both; }
      #cookies button:hover {
        filter: brightness(120%); }
    #cookies div {
      font-size: 1.5rem;
      color: white;
      float: left;
      text-align: center; }
      #cookies div::after {
        content: "";
        clear: both; }
    #cookies a {
      color: brown; }
      #cookies a:hover {
        color: red; }

  .open {
    cursor: pointer; }

  .output {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    animation-name: open;
    animation-duration: 1s;
    color: white; }
    .output:nth-of-type(1) {
      background-color: #00379b; }
    .output:nth-of-type(2) {
      background-color: #ff3737; }

  @keyframes open {
    from {
      width: 0;
      height: 0; }
    to {
      width: 100%;
      height: 100%; } }
  form {
    width: 90%;
    margin: 0 auto;
    padding: 1rem; }
    form input {
      margin: 0.3rem; }
      form input[type=submit] {
        color: white;
        background-color: #4CAF50;
        border: none;
        padding: 0.7rem 1.5rem; }
      form input[type=email] {
        width: 100%; }
      form input[type=text] {
        width: 100%; }
    form textarea {
      width: 100%;
      margin: 0.3rem;
      height: 21rem; }

  .img_cnt {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: space-between;
    flex-wrap: wrap; }
    .img_cnt figure {
      margin: 0 auto;
      margin-top: 1rem;
      width: 75%; }
      .img_cnt figure img {
        width: 100%;
        height: auto; }
      .img_cnt figure figcaption {
        position: relative; }
        .img_cnt figure figcaption i {
          font-style: normal;
          text-align: justify; }
        .img_cnt figure figcaption:nth-of-type(1) {
          font-weight: bold; }
      .img_cnt figure:hover {
        cursor: pointer; }
        .img_cnt figure:hover img {
          opacity: 0.7; }
      .img_cnt figure a.dwn {
        display: none; } }
